.account {
  max-width: 1136px;
  padding: 41px 0 80px;
  margin: 0 auto;

  &__title {
    font-size: 50px;
    font-weight: 800;
    text-align: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 400px;
  }

  &__logOut {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1.3px;

    color: #313133;
    min-width: 200px;
    min-height: 50px;

    background: #4FD1C5;
    background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;

    &:hover {
      color: #313133;
      transform: translateY(-6px);
    }
  }
}